<main class="auth-layout">
  <div class="auth-panel auth-brand-panel">
    <div class="brand-content">
      <div class="logo">
  <img class="brand-logo" src="/Fotoram.io.png" alt="Logo FluxoSDK" />
  <span>FluxoSDK</span>
      </div>
      <h1>Seu tracking inteligente.</h1>
      <p>Tenha visões que ferramentas tradicionais deixam escapar. Um projeto experimental desenvolvido para simplificar dados densos de UX.</p>
      
      <div class="brand-features">
        <div class="feature-line">
          <div class="check-circle">&#10003;</div>
          <span>Análise comportamental em tempo real</span>
        </div>
        <div class="feature-line">
          <div class="check-circle">&#10003;</div>
          <span>Foco em segurança de dados JSONB</span>
        </div>
        <div class="feature-line">
          <div class="check-circle">&#10003;</div>
          <span>Fácil de integrar via tag script</span>
        </div>
      </div>
    </div>
    <div class="bg-shape"></div>
  </div>

  <div class="auth-panel auth-form-panel">
    <div class="form-wrapper">
      <a routerLink="/" class="back-link" style="text-decoration: none; color: #6b7280; font-size: 14px; display: inline-block; margin-bottom: 40px;">&#x2190; Voltar para a Home</a>
      
      <div class="header-titles">
        <h2>{{ isRegistering() ? 'Crie sua conta' : 'Acesse o painel' }}</h2>
        <p>{{ isRegistering() ? 'Comece a monitorar seus projetos agora mesmo.' : 'Bem-vindo de volta! Insira suas credenciais.' }}</p>
      </div>

      <form (submit)="authenticate($event)" class="auth-form">
        <div class="input-group">
          <label for="authEmail">E-mail corporativo</label>
          <div class="input-icon-wrapper">
            <input type="email" id="authEmail" placeholder="seu@email.com" required [ngModel]="authEmail()" (ngModelChange)="authEmail.set($event)" name="email">
          </div>
        </div>

        <div class="input-group">
          <label for="authPass">Senha</label>
          <div class="input-icon-wrapper">
            <input type="password" id="authPass" placeholder="••••••••" required [ngModel]="authPassword()" (ngModelChange)="authPassword.set($event)" name="password">
          </div>
        </div>

        <button type="submit" class="submit-btn" [disabled]="isAuthLoading()">
          {{ isAuthLoading() ? 'Processando...' : (isRegistering() ? 'Criar minha conta' : 'Entrar na Plataforma') }}
        </button>
      </form>

      <div class="auth-footer">
        <p>
          {{ isRegistering() ? 'Já tem uma conta?' : 'Ainda não tem conta?' }}
          <button type="button" class="switch-mode-btn" (click)="isRegistering.set(!isRegistering()); authEmail.set(''); authPassword.set('')">
            {{ isRegistering() ? 'Fazer login' : 'Criar uma conta' }}
          </button>
        </p>
      </div>
    </div>
  </div>
</main>
